<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
<link rel="icon" href="public/ico/logo.png" type="image/png">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
	media="screen,projection">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<style>
body {
	background: linear-gradient(to bottom, #6a11cb 0%, #2575fc 100%);
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

html {
	height: 100%;
	display: table;
	margin: auto;
}
</style>
</head>
<body>
	<div class="row">


		<div class="col s12 z-depth-5 card-panel">
			<form th:action="@{/car/upload}" th:object="${carDetails}"
				method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="input-field col s12 center">
						<p class="center login-form-text">Upload Car For Rent</p>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix">account_circle</i> <input type="text"
							th:field="*{carName}">
						 <label for="carName" data-error="wrong" data-success="right">Type
							of Car</label>

						<div th:if="${#fields.hasErrors('carName')}">
							<p th:each="err : ${#fields.errors('carName')}" th:text="${err}"
								style="color: red"></p>
						</div>

					</div>
				</div>

				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix">contact_phone</i> <input
							th:field="*{price}" type="text"> <label for="price"
							data-error="wrong" data-success="right">Rent Per Day Cost</label>
						<div th:if="${#fields.hasErrors('price')}">
							<p th:each="err : ${#fields.errors('price')}" th:text="${err}"
								style="color: red"></p>
						</div>
					</div>
				</div>


				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix">contact_phone</i> <input
							th:field="*{deposit}" type="text"> <label for="deposit"
							data-error="wrong" data-success="right">Deposit Amount</label>
						<div th:if="${#fields.hasErrors('deposit')}">
							<p th:each="err : ${#fields.errors('deposit')}" th:text="${err}"
								style="color: red"></p>
						</div>
					</div>
				</div>

				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix">contact_phone</i> <input
							th:field="*{capacity}" type="text"> <label for="capacity"
							data-error="wrong" data-success="right">Capacity</label>
						<div th:if="${#fields.hasErrors('capacity')}">
							<p th:each="err : ${#fields.errors('capacity')}" th:text="${err}"
								style="color: red"></p>
						</div>
					</div>
				</div>

				


				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix">contact_phone</i> <input
							th:field="*{minDays}" type="text"> <label for="minDays"
							data-error="wrong" data-success="right">Min Days</label>
						<div th:if="${#fields.hasErrors('minDays')}">
							<p th:each="err : ${#fields.errors('minDays')}" th:text="${err}"
								style="color: red"></p>
						</div>
					</div>
				</div>


				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix">account_circle</i> <input type="text"
							th:field="*{carCondition}">
						 <label for="carCondition" data-error="wrong" data-success="right">Car Condition</label>

						<div th:if="${#fields.hasErrors('carCondition')}">
							<p th:each="err : ${#fields.errors('carCondition')}"
								th:text="${err}" style="color: red"></p>
						</div>

					</div>
				</div>

				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix">account_circle</i> <input type="text"
							th:field="*{transmission}">
					 <label for="transmission" data-error="wrong" data-success="right">Transmission</label>

						<div th:if="${#fields.hasErrors('transmission')}">
							<p th:each="err : ${#fields.errors('transmission')}"
								th:text="${err}" style="color: red"></p>
						</div>

					</div>
				</div>

				<div class="row margin">
				
				  <div class="file-field input-field">
				      <div class="btn">
				        <span>File</span>
				        <input type="file" name="file">
				      </div>
				      <div class="file-path-wrapper">
				        <input class="file-path validate"   type="text">
				      </div>
				    </div>
				
				
				</div>


				<!--<div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password-again" name="password-again" type="password" data-length="25" required>
                            <label for="password-again">Password again</label>
                        </div>
                    </div>-->
				<div class="row">
					<div class="input-field col s12">
						<button class="btn waves-effect waves-light blue col s12"
							type="submit" name="register">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>